.picture{
    width: 1400px;
    overflow: hidden;
    display: none;
    border-radius: 15px;
    margin: auto;
}

.picture img{
    width: 100%;
}

#toggler1:checked ~ .picture1,
#toggler2:checked ~ .picture2,
#toggler3:checked ~ .picture3,
#toggler4:checked ~ .picture4,
#toggler5:checked ~ .picture5,
#toggler6:checked ~ .picture6,
#toggler7:checked ~ .picture7{
    display: block /* показать**/
}

input[type="radio"]{
    display: none;
}

.labels img{
    height: 100px;
   border-radius: 50px;
   border: 2px solid yellow;

}
.labels img:hover{
    transform:scale(1.07)
    
}

*{
    box-sizing: border-box;
}
body{
    background-color: blue;
    text-align: center;
}